body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-header {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 20px 30px;
}

.main-header a{
  background-color: #fff;
  color: black;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 25px;
}

.main-header a:hover{
  background-color: #d3f0aa;
}

.home img{
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 80px;
  margin-right: 50px;
}

.logo span {
  font-size: 16px;
}

.nav {
  background-color: 	#91c744;
  padding: 8px;
  text-align: center;
}

.nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav ul li {
  margin: 0 30px;
  width: 25vh;
  padding: 20px 0;
  cursor: pointer;
}

.nav ul li a {
  text-decoration: none;
  letter-spacing: 2px;
  padding: 20px;
  width: 25vh;
  color: black;
}

.nav ul li:hover,
.nav ul li:hover a {
  background-color: 	#cce49e;
}

.main-content {
  padding: 20px;
}

table {
  width: 100%;
  height: 30vh;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}

label {
  display: block;
  margin-bottom: 5px;
}

.main-content input {
  padding: 8px;
  margin-bottom: 20px;
}

.login .profilePic{
  text-align: center;
}

.profilePic img{
  width: 60%;
  height: 60%;
  margin-bottom: 1rem;
  object-fit: cover;
}

.login input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.login{
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 35%;
  height: 100%;
  width: 50vh;
}

.login div{
  text-align: center;
}

.login label{
  margin-top: 1rem;
}


.login button{
  background-color: #4caf50;
  width: 20%;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 0 40%;
  margin-top: 1rem;
}

.login a{
  color: rgb(107, 153, 1);
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2%;
}

.input-group input{
    margin-bottom: 10px;
}

.input-group label {
  width: 100%;
  text-align: start;
}

.input-group input {
  width: 120%;
}

input[type="submit"] {
  background-color: #4caf50;
  width: 20%;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 0 40%;
  margin-top: 1rem;
}

input[type="submit"]:hover {
  background-color: #36883a;
}

.login_credentials {
  margin-top: 4rem;
  text-align: left;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
}

.contact {
  height: 100%;
}

.contact label{
  margin: 30px 0 10px 0;
}

.contact input {
  padding: 8px;
}

.contact [type="submit"]{
  margin-top: 30px;
}

.form select {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 102%;
}

.form input[type="text"], .form input[type="email"], .form input[type="date"], .form input[type="tel"],.form input[type="password"], .form textarea{
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  height: 66vh;
}

.section {
  margin-bottom: 30px;
}

.section p {
  line-height: 1.6;
}

.footer, .R-footer{
  background-color: #333;
  width: 100%;
  position: fixed;
  bottom: 0;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.R-footer{
  position: relative;
}


